@{
    ViewData["Title"] = "Home Page";
}

<section class="section-gradient-line">
    <div class="content-welcome">
        <img src="images/Net.png" class="main-img">
        <div class="index-title-container">
            <h1>Welcome to .Core</h1>
            <p class="sub-title">It is time to become a professional</p>
        </div>
    </div>
</section>

<section class="section-line border-horizontal">
    <div class="features-container">
        <div class="block-3 text-center">
            <img src="images/comment.svg" width="160px" height="160px" alt="Ask">
            <div class="block-3-content">
                <span class="block-3-title">Ask</span>
                <p class="text-center secondary">Place any question and get professional answer from .Core community.</p>
            </div>
        </div>
        <div class="block-3 block-3-center text-center">
            <img src="images/database.svg" width="160" height="160" alt="Learn">
            <div class="block-3-content">
                <span class="block-3-title">Learn</span>
                <p class="text-center secondary">Get access to the latest information about .Net platform.</p>
            </div>
        </div>
        <div class="block-3 text-center">
            <img src="images/people.svg" width="160" height="160" alt="Teach others">
            <div class="block-3-content">
                <span class="block-3-title">Teach others</span>
                <p class="text-center secondary">Help people, become a .Core professional and publish own articles.</p>
            </div>
        </div>
    </div>
</section>