span, p, input, label, select, div, h1, h2, h3 {
    font-family: 'Roboto', 'Segoe UI Webfont', 'Helvetica Neue', 'Lucida Grande', 'Segoe UI';
    color: #333534;
}

h1 {
    font-size: 28px;
    font-weight: 200;
    display: block;
    color: rgb(60, 65, 70);
    margin: 0px;
}

h2{
    font-size: 24px;
    font-weight: 200;
    display: block;
    color: rgb(60, 65, 70);
    margin: 0px;
}

p {
    margin: 6px 0px 0px 0px;
}

p.secondary, span.secondary, p.not-important, span.not-important {
    color: rgb(60, 65, 70);
}

span.sub-title, p.sub-title {
    margin: 10px 0px 6px 0px;
    font-size: 26px;
    font-weight: 200;
    color: rgb(60, 65, 70);
}

.text-break{
    word-wrap: break-word;
    overflow: hidden;
}