.content-center {
    background: #FAFCFD;
    box-sizing: border-box;
    margin: 40px auto;
    width: 500px;
    padding: 30px 60px;
}

.main-container{
    padding: 40px 32px 30px 32px;
}

@media screen and (max-width: 500px) {
    .content-center {
        margin: 0px;
        width: 100%;
        padding: 30px 30px;
        background: none;
    }
    .main-container{
        padding: 20px 30px 30px 30px;
    }
}

.flex-grow-1{
    flex-grow: 1;
}

.hidden {
    display: none !important;
}